.our-service {
    color: rgb(81, 81, 255);
    text-align: center;
    text-transform: uppercase;
}

.services-container {
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
}

.services-container img {
    width: 100%;
    max-width: 400px;
    height: 250px;
}

@media only screen and (max-width: 600px) {
    .services-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}